body {
    color: black;
    font-size: 16px;
    margin: auto 32px auto 32px;
    width: auto;
    background-color: #add8e6
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: left;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

/* --- --- --- _ --- --- --- */

pre {
    background-color: silver;
    display: block;
    overflow: scroll;
    width: 70%;
    margin-left: 3%;
    padding: 8px 0 8px 16px;
}
