.index-title {
    border-radius: 4px;
    padding: 8px;
}

.index-title-internal {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    font-size: 200%;
}

.circle-logo {
    height: 150px;
}

.index-content {
    margin-top: 64px;
}

.index-left {
    float: left;
    width: 75%;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    padding: 32px;
}

.index-left .index-navigator {
    margin-right: 20px;
}

.index-right {
    float: left;
    width: 25%;
    padding-left: 32px;
}

.index-tagcloud {
    text-align: left;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.index-clear-styles {
    clear: both;
}
