div.home-content {
    margin-top: 32px;
}

div.screen-left {
    float: left;
    width: 25%;
}

div.screen-right {
    float: left;
    width: 75%;
    padding-left: 32px;
}

div.screen-left img.wani-san {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

div.screen-left div.tagcloud {
    text-align: left;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

div.screen-left div.twitter-widget {
    border-radius: 8px;
}

br.end-of-content {
    clear: both;
}
