.index-title {
    /* 2ADACC is that message, do you remember ? */
    background-color: #2ADACC;
    border-radius: 4px;
    padding: 8px;
}

.index-title-internal {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    padding: 4px;
}

.index-icon-of-me {
    width: 64px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.index-content {
    margin-top: 32px;
}

.index-left {
    float: left;
    width: 25%;
}

.index-right {
    float: left;
    width: 75%;
    padding-left: 32px;
}

.wani-san {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.index-tagcloud {
    text-align: left;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.index-twitter-widget {
    border-radius: 8px;
}

.index-amazon-wish-list a {
    font-size: 140%;
}

.index-clear-styles {
    clear: both;
}
