/* In the classes of here,
 * 'kosokoso' means a size of little.
 *   ^
 * 'pon' means a size of a litle of big.
 *   ^
 * 'don' means a size of bigger.
 *   ^
 * 'dodon' means a size of biggest.
 */

h1 {
    font-size: 150%;
    margin-bottom: 32px;
    background-image: -moz-linear-gradient(top, #efefef, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ccc));
    padding: 8px;
}

h2 {
    font-size: 110%;
    margin-top: 32px;
    background-image: -moz-linear-gradient(top, #efefef, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ccc));
    padding: 4px;
}

h3 {
    font-size: 90%;
    margin-top: 32px;
    background-image: -moz-linear-gradient(top, #efefef, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ccc));
    padding: 4px;
}

/* For title */
h4 {
    font-size: 200%;
    background-image: -moz-linear-gradient(top, whitesmoke, lightsteelblue);
    background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(lightsteelblue));
    padding: 4px;
}

img {
    margin: 16px;
}

li {
    font-size: 95%;
}

a:link {
    color: chocolate;
    font-size: 120%;
}

/* Don't break the consistency in the human readability of the terms size */
li li a:link {
    font-size: 100%;
}

a:visited {
    color: chocolate;
}

a.pon {
    font-size: 160%;
}

.info {
    background-color: white;
    padding: 4px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

ul.bookmarkers {
    list-style: none;
    display: table-row;
}

ul.bookmarkers li {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

p.about-pr {
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px;
}

p.don {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

p.dodon {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

p.kosokoso {
    font-size: 12px;
}

p.someone-says {
    font-size: 140%;
}
