img {
    margin: 16px;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

li {
    font-size: 95%;
}

.post-info {
    color: white;
    margin: 5% 10% 0 10%;
}

.post-date {
    margin: 0 3px 0 3px;
}

.post-title {
    font-weight: bold;
    font-size: 150%;
}

ul.post-tags {
    text-align: center;
}

ul.post-tags li {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

ul.post-tags li a:link {
    color: white;
}

ul.post-tags li a:visited {
    color: white;
}

.post-body {
    padding: 5% 8% 5% 8%;
    margin: 7%;
    background-color: white;
}

ul.bookmarkers {
    list-style: none;
    display: table-row;
}

ul.bookmarkers li {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.about-pr {
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px;
}

/* little */
.kosokoso {
    font-size: 12px;
}

/* middle */
.pon {
    font-size: 160%;
}

/* bigger */
.don {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

/* biggest */
.dodon {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.someone-says {
    font-size: 140%;
}
