ul.profile-icons {
    list-style: none;
    margin-top: 8px;
    padding-left: 0;
}

li.my-icons img {
    display: inline-block;
    vertical-align: bottom;
}

img.icon {
    width: 128px;
    height: 128px;
    border-radius: 20px;
}

img.icon-mini {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

img.sns-icon {
    height: 100px;
    border-radius: 20px;
}

ul.vertical-enum {
    list-style: none;
    display: table-row;
}

ul.vertical-enum li {
    float: left;
    margin-right: 16px;
}

hr.short-bar {
    width: 50%;
    margin: 30px 0 30px 0;
}

b {
    font-size: 130%;
    color: midnightblue;
}
