ul.profile-intro {
    list-style: none;
    margin-top: 8px;
    padding-left: 0;
}

ul.profile-intro li.profile-text {
    margin-top: 8px;
    margin-left: 16px;
}

img.smart-icon {
    border-radius: 20px;
}

img.sns-icon {
    height: 100px;
}

ul.vertical-enum {
    list-style: none;
    display: table-row;
}

ul.vertical-enum li {
    margin-top: 32px;
    float: left;
    margin-right: 16px;
}

hr.short-bar {
    width: 50%;
    margin: 30px 0 30px 0;
}
