img.sns-icon {
    height: 100px;
}

ul.profile-sns {
    list-style: none;
    display: table-row;
}

ul.profile-sns li {
    margin-top: 32px;
    float: left;
    margin-right: 16px;
}

hr.short-bar {
    width: 50%;
    margin: 30px 0 30px 0;
}
