<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>あいや☆ぱぶりっしゅぶろぐ！ - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="/css/highlight.css"/>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">あいや☆ぱぶりっしゅぶろぐ！</a>
            </div>
            <br><br>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/profile.html">Profile</a>
                <a href="/works.html">Works</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h4>$title$</h4>
            $body$
        </div>

        <div id="footer">
            This blog powerd by Haskell <a href="http://jaspervdj.be/hakyll">Hakyll</a> }(^o^*)
        </div>
    </body>
</html>
